[submodule "WEB-8"]
	path = WEB-8
	url = https://github.com/SemBarner22/WEB-8
[submodule "Web-7"]
	path = Web-7
	url = https://github.com/SemBarner22/Web-7
[submodule "WebHomeWork5"]
	path = WebHomeWork5
	url = https://github.com/SemBarner22/WebHomeWork5
[submodule "Web-6"]
	path = Web-6
	url = https://github.com/SemBarner22/Web-6
[submodule "Web-3"]
	path = Web-3
	url = https://github.com/SemBarner22/Web-3
[submodule "WebHomeWork4"]
	path = WebHomeWork4
	url = https://github.com/SemBarner22/WebHomeWork4
[submodule "Web-VueJs-1"]
	path = Web-VueJs-1
	url = https://github.com/SemBarner22/Web-VueJs-1
[submodule "Web-Vue-2"]
	path = Web-Vue-2
	url = https://github.com/SemBarner22/Web-Vue-2
